html,body{
    margin:0;
    background:#f4f6fb;
    color:#1a1d2a;
    font-family: system-ui,Segoe UI,sans-serif;
    overflow:hidden;
}

/* ================= HEADER ================= */
#header{
position:fixed;
top:0; left:0;
width:100%;
background:#ffffffee;
backdrop-filter: blur(6px);
box-shadow:0 3px 10px rgba(0,0,0,.12);
padding:6px 10px;
font-size:13px;
text-align:center;
z-index:10;
line-height:1.3;
}

#header span{
margin:0 8px;
}

@media (max-width:600px){
    #header{
    font-size:11px;
    }
    #header span{
    display:block;
    margin:2px 0;
    }
}

/* ================= CONTROLES ================= */
#ui{
position:fixed;
bottom:0; left:0;
width:100%;
background:#ffffffee;
backdrop-filter: blur(6px);
box-shadow:0 -4px 14px rgba(0,0,0,.15);
padding:10px 14px;
display:flex;
gap:18px;
align-items:center;
box-sizing:border-box;
z-index:10;
}

#ui h1{
font-size:14px;
margin:0;
white-space:nowrap;
}

#pageTitle{
margin-top:50px;
text-align:center;
font-size:16px;
}

.control{
    min-width:180px;
}

label{
    font-size:12px;
}

input[type=range]{
    width:100%;
    height:28px;
}

@media (max-width:600px){
    #ui{
    flex-direction:column;
    align-items:stretch;
    gap:10px;
    }

}

/* ================= CANVAS ================= */
canvas{
    display:block;
}
